:root {
  --colorBrand: #819b57;
  --primaryColorLite: #faf4ea;
  --primaryColorDark: #31261a;
  --colorBrandDark: #465929;
  --colorChefTilte: #CFCFBC;
  --colorBorder:#A18268;
}
body {
  font-size: 18px;
  color: var(--primaryColorDark);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1288px;
  padding: 0 24px;
}
/* head */
.headConteiner {
  display: flex;
  align-items: center;
  gap: 40px;
}
.headerNav {
  gap: 40px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.headerUl {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}
.button1 {
  background-color: var(--colorBrand);
  color: var(--primaryColorLite);
  border: 2px solid var(--colorBrand);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  padding: 16px 32px;
}
.button1:hover {
  background-color: transparent;
  color: var(--colorBrand);
  cursor: pointer;
}
.headLink {
  color: var(--primaryColorLite);
  text-decoration: none;
}
.headLink:hover {
  color: var(--colorBrandDark);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* title */
main {
  background-color: var(--primaryColorLite) ;
}
.heroSection {
  padding: 272px 0px;
  background-image: url("./img/bgcHead.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.heroTitle {
  color: var(--primaryColorLite);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  margin-bottom: o;
}
.heroTitle .accent {
  color: var(--colorBrand);
}
.section {
  padding: 48px 0px;
}
.hidden {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* переваги */
.adventeges {
  display: flex;
  justify-content: space-between;
  background-color: var(--colorBrand);
  gap: 40px;
}
.adventege {
  padding: 16px;
  background-color: var(--colorBrand);
}
.adventeges li {
  color: var(--primaryColorLite);
  font-size: 20px;
  font-weight: 300;
}

/* традиции */
.traditionContainer {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.traditionTilte {
  margin-bottom: 42px;
}
.traditionContent {
  max-width: 710px;
}
.tradition {
  padding-top: 96px;
}
/* format  */
.sectionTitle {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
  text-decoration: none;
}

.sectionTitle.center {
 text-align: center;
}
.formatCard {
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
  border: 1px solid black;
  border-radius: 10px;
  height: 444px;
}
.formatList {
  gap: 20px;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
}
.formatLi {
  flex-basis: calc((100% - 40px) / 3);
}
.shop1 span {
  color: var(--colorBrand);
  text-transform: uppercase;
  font-weight: 600;
}
.shop2 span {
  color: var(--colorBrand);
  font-weight: 600;
}

/* повара */
.cookersTilte {
  width: 532px;
  margin: 0 auto 80px;
}
.cookersTilte::before {
  content: ' ';
  display: block;
  width: 352px;
  border: 2px solid var(--colorChefTilte);
}
.cookersTilte::after {
  content: ' ';
  display: block;
  width: 352px;
  border: 2px solid var(--colorChefTilte);
}
.sectionTitle span {
  color: var(--colorBrandDark);
}
.name {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}
.cookerImg {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--primaryColorLite), -16px 16px 0 1px var(--colorBorder);
}

/* формати */
.formTitle {
  font-size: 24px;
  font-weight: 600;
}
.formatsTilte {
  margin-bottom: 80px;
}
.textFormat p {
  font-size: 14px;
  font-weight: 300;
}
.sectionTitle ul {
  text-decoration: none;
}
/* kontaktu  */
.contactsSection {
  margin-bottom: 16px;
}
/* footer */

footer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #31261a;
  background-image: url("./img/footer.jpg");
}
.addressLink {
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
.addressLink a {
  color: var(--primaryColorLite);
}
.linkAdress {
  font-size: 16px;
  font-weight: 300;
}
.property {
  font-size: 18px;
  font-weight: 400;
}
