/* kontaktu  */
@import '../utils/var';
.contactsSection {
    margin-bottom: 16px;
  }
  .contactConteiner {
    display: flex;
    gap: 32px;
  }
  .contactMap {
    flex-shrink: 0;
    margin: 0 -24px;
    border-radius: 16px;
    border: none;
  }
  .contacts {
    padding-bottom: 96px;
  }