@import '../utils/var';
/* повара */
  .cookersTilte {
    margin: 0 auto 24px;
    position: relative;
    @media screen and (min-width: $brakeDesktop) {
      margin-bottom: 80px;
    }
  }
  .cookersTilte::before {
    content: " ";
    position: absolute;
    left: 0;
    display: none;
    width: 352px;
    border: 2px solid var(--colorChefTilte);
    bottom: 24px;
    @media screen and (min-width: $brakeDesktop) {
      display: block;
    }
  }
  .cookersTilte::after {
    @media screen and (min-width: $brakeDesktop) {
      display: block;
    }
    position: absolute;
    right: 0;
    bottom: 24px;
    content: " ";
    display: none;;
    width: 352px;
    border: 2px solid var(--colorChefTilte);
  }
  .sectionTitle span {
    color: var(--colorBrandDark);
  }
  .name {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .cookerImg {
    width: 140px;
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--primaryColorLite),
      -16px 16px 0 1px var(--colorBorder);
      @media screen and (min-width: $brakeTablet) {
       width: 240px;
      }
  }
  .cookersList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    @media screen and (min-width: $brakeDesktop) {
      gap: 40px 30px;
      flex-direction: row;
    }
  }
  .cookersItem {
    @media screen and (min-width: $brakeTablet) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
  .cookersCard {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    @media screen and (min-width: $brakeDesktop) {
      gap: 30px;
    }
  }
  .cookersText p {
    font-size: 14px;
    margin-bottom: 24px;
    @media screen and (min-width: $brakeTablet) {
      font-size: 18px;
    }
  }
  .cookersText p:last-child {
    margin-bottom: 0;
  }
  