@import '../utils/var';/* footer */
.footerConteiner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width: $brakeTablet) {
      flex-direction: row;
    }
  }
  .footerNav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width: $brakeTablet) {
      flex-basis: 50%;
      flex-direction: row;
    }
  }
  
  footer {
    text-align: center;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #31261a;
    background-image: url("../img/footer.jpg");
    padding: 32px 0;
    @media screen and (min-width: $brakeTablet) {
      text-align: left;
    }
  }
  footer::after {
    position: absolute;
    background-image: url("../img/bread1.png");
    content: " ";
    width: 180px;
    height: 120px;
    background-repeat: no-repeat;
    bottom: 0;
  }
  footer::before {
    position: absolute;
    background-image: url("../img/bread2.png");
    content: " ";
    width: 370px;
    height: 190px;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
  }
  .addressLink {
    gap: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    @media screen and (min-width: $brakeTablet) {
      flex-direction: row;
    }
  }
  .addressLink a {
    color: var(--primaryColorLite);
  }
  .linkAdress {
    font-size: 16px;
    font-weight: 300;
  }
  .property {
    font-size: 18px;
    font-weight: 400;
    color: rgba(161, 130, 104, 1);
  }
  .footerLogo,
  .footerUl,
  .addressUl,
  .copyRight {
    flex-grow: 1;
  }

  // .footerNav, .addressLink {

  // }