@import '../utils/var';
/* традиции */
.traditionContainer {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: space-between;
}
.traditionTilte {
  margin-bottom: 42px;
}
.traditionContent {
  max-width: 710px;
}
.tradition {
  padding-top: 96px;
}
.traditionImg {
  border-radius: 400px 400px 0px 0px ;
  display: none;
  @media screen and (min-width: $brakeTablet){
    display: block;
  }
}


