@import './base';
@import './utils/var';
@import './utils/utils';
@import './components/button';
@import './components/links';
@import './components/header.scss';
@import './components/heroSection.scss';
@import './components/adventegas.scss';
 
  /* традиции */
  .traditionContainer {
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }
  .traditionTilte {
    margin-bottom: 42px;
  }
  .traditionContent {
    max-width: 710px;
  }
  .tradition {
    padding-top: 96px;
  }
  /* format  */
  .sectionTitle {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
    text-decoration: none;
  }
  .formTitle {
    color: var(--primaryColorLite);
    font-size: 24px;
    font-weight: 600;
  }
  .textFormat {
    color: var(--primaryColorLite);
  }
  .sectionTitle.center {
    text-align: center;
  }
  .formatCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    background-image: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      #31261a 100%
    );
    border: 1px solid black;
    border-radius: 10px;
    height: 444px;
    padding: 24px;
    transition: transform 0.3s;
  }
  .formatImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .formatCard:hover {
    transform: scale(1.05);
  }
  .formatList {
    gap: 20px;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
  }
  .formatLi {
    flex-basis: calc((100% - 40px) / 3);
  }
  .shop1 span {
    color: var(--colorBrand);
    text-transform: uppercase;
    font-weight: 600;
  }
  .shop2 span {
    color: var(--colorBrand);
    font-weight: 600;
  }
  
  /* повара */
  .cookersTilte {
    margin: 0 auto 80px;
    position: relative;
  }
  .cookersTilte::before {
    content: " ";
    position: absolute;
    left: 0;
    display: block;
    width: 352px;
    border: 2px solid var(--colorChefTilte);
    bottom: 24px;
  }
  .cookersTilte::after {
    position: absolute;
    right: 0;
    bottom: 24px;
    content: " ";
    display: block;
    width: 352px;
    border: 2px solid var(--colorChefTilte);
  }
  .sectionTitle span {
    color: var(--colorBrandDark);
  }
  .name {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .cookerImg {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--primaryColorLite),
      -16px 16px 0 1px var(--colorBorder);
  }
  .cookersList {
    display: flex;
    gap: 40px 30px;
    flex-wrap: wrap;
  }
  .cookersItem {
    flex-basis: calc((100% - 30px) / 2);
  }
  .cookersCard {
    display: flex;
    gap: 30px;
  }
  .cookersText p {
    margin-bottom: 24px;
  }
  .cookersText p:last-child {
    margin-bottom: 0;
  }
  /* формати */
  .formTitle {
    font-size: 24px;
    font-weight: 600;
  }
  .formatsTilte {
    margin-bottom: 80px;
  }
  .textFormat p {
    font-size: 14px;
    font-weight: 300;
  }
  .sectionTitle ul {
    text-decoration: none;
  }
  .formatConteiner {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  .buttonFormat {
    max-width: 44px;
    max-height: 44px;
    flex-shrink: 0;
    cursor: pointer;
  }
  .buttonFormat:hover {
    cursor: pointer;
    background-color: var(--colorBorder);
  }
  /* kontaktu  */
  .contactsSection {
    margin-bottom: 16px;
  }
  .contactConteiner {
    display: flex;
    gap: 32px;
  }
  .contactMap {
    flex-shrink: 0;
    margin: 0 -24px;
    border-radius: 16px;
    border: none;
  }
  .contacts {
    padding-bottom: 96px;
  }
  /* footer */
  .footerConteiner {
    display: flex;
    gap: 20px;
  }
  .footerNav {
    flex-basis: 50%;
    display: flex;
    gap: 20px;
  }
  
  footer {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #31261a;
    background-image: url("../img/footer.jpg");
    padding: 32px 0;
  }
  footer::after {
    position: absolute;
    background-image: url("../img/bread1.png");
    content: " ";
    width: 180px;
    height: 120px;
    background-repeat: no-repeat;
    bottom: 0;
  }
  footer::before {
    position: absolute;
    background-image: url("../img/bread2.png");
    content: " ";
    width: 370px;
    height: 190px;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
  }
  .addressLink {
    gap: 20px;
    display: flex;
    flex-basis: 50%;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
  }
  .addressLink a {
    color: var(--primaryColorLite);
  }
  .linkAdress {
    font-size: 16px;
    font-weight: 300;
  }
  .property {
    font-size: 18px;
    font-weight: 400;
    color: rgba(161, 130, 104, 1);
  }
  .footerLogo,
  .footerUl,
  .addressUl,
  .copyRight {
    flex-grow: 1;
  }
  /* модальне окно */
  .backdrop {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s, visibility 0.3s;
  }
  .modal {
    padding: 128px;
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    background-color: var(--primaryColorLite);
    border-radius: 32px;
  }
  .backdrop.isHidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modalBtnClose {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  /* forma */
  .input {
    width: 100%;
    padding: 16px 42px;
    border:3px solid var(--colorBorder);
    border-radius: 8px;
    background-color: transparent;
  }
  .input:focus {
    border:3px solid var(--colorBrand);
    outline: none;
  }
  .input::placeholder{
    color: var(--colorBrand);
  }
  .formLabel {
    display: block;
    
  }
  .formField {
    margin-bottom: 32px;
  }
  .formBtn{
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .formTerm {
    margin: 0 auto;
    line-height: 1.5;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    max-width: 220px;
  }
  .formPolitic{
    color: var(--colorBrandDark);
    text-underline-offset: 2px;
  }